:root{
    --primary-bg-color: #fffdc7;
    --primary-text-color: #189a30;
    --contrast-color: #6192b0;
    --secondary-text-color: rgb(163, 76, 189);
    --secondary-bg-color: #a5c6a5;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
}


.game-box {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color-color);
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 16px;
}

.song-para {
    color: var(--primary-text-color);
    /* display: none; */
    font-size: 1.8rem;
    text-align: center;

}