@font-face {
    font-family: "rubikdoodleshadow";
    src: url(./webfonts/rubikdoodleshadow/rubikdoodleshadow-regular-webfont.woff);
}

@font-face {
    font-family: "rubikdoodleshadow";
    src: url(./webfonts/rubikdoodleshadow/rubikdoodleshadow-regular-webfont.woff2);
}